<div class="hero-unit">
  <div class='gameName'>
    <h1>{{gameName}}</h1>
  </div>
  <p class='time'>
    <span>{{time | date: 'mm:ss' }}</span>
  </p>
  <h3>Level {{currentLevel.number}} | Blinds {{currentLevel.blinds}} | Ante {{currentLevel.ante}}</h3>
  <p class='buttonBar'>
    <button type='button' class='btn btn-large btn-primary' ng-click='stop()'>{{buttonCaption}}</button>
  </p>
  <ul>
    <div ng-controller='ClockController'>
      <button type='button' class='btn btn-large btn-primary' ng-click='addLevel()'>Add level</button>
      <div ng-repeat='level in levels'>
        <span>Level: {{level.number}}</span>
        <span>Blinds:</span>
        <input name='value' ng-model='level.value' required type='number'/>
        <button type='button' class='btn btn-small btn-primary' ng-click='removeLevel(level.number)'>Add level</button>
      </div>
    </div>
  </ul>
</div>
