<div class="hero-unit" ng-controller='TimerController'>
  <div class='gameName'>
    <h1>{{gameName}}</h1>
  </div>
  <p class='time'>
    <span>{{timer.getCurrentCount()}}</span>
  </p>
  <h3>Level {{timer.getCurrentLevel().number}} | Blinds {{timer.getCurrentLevel().value}}</h3>
  <p class='buttonBar'>
    <button type='button' class='btn btn-large btn-primary' ng-click='timer.startGame()'>Start</button>
    <button type='button' class='btn btn-large btn-primary' ng-click='timer.pauseGame()'>Pause</button>
  </p>
  <ul>
    <button type='button' class='btn btn-large btn-primary' ng-click='timer.addLevel()'>Add level</button>
    <div ng-repeat='level in timer.levels'>
      <span>Level: {{level.number}}</span>
      <span>Blinds:</span>
      <input name='value' ng-model='level.value' required type='number'/>
      <button type='button' class='btn btn-small btn-primary' ng-click='timer.removeLevel(level.number)'>Add level</button>
    </div>
  </ul>
</div>
